#generated-container {
    display: grid;
    grid-template-columns: 1fr 80px 30px;
    height: 32px;
    align-items: center;
}

#generated-container .password-text {
    color: var(--neutral-3);
}
#generated-container.placeholder .password-text {
    color: var(--neutral-2);
}


#generated-container .copied {
    color: var(--primary);
    opacity: 0.0;
    transition: opacity ease-in-out 0.2s;
}
#generated-container .copied.visible {
    opacity: 1.0;
}

#generated-container .copy {
    cursor: pointer;
    filter: var(--reset-filter) var(--primary-filter);
}
#generated-container .copy.disabled {
    cursor: not-allowed;
    filter: var(--reset-filter) var(--primary-filter);
}
#generated-container .copy:hover {
    filter: var(--reset-filter) var(--neutral-3-filter);
}
#generated-container.placeholder .copy,
#generated-container.placeholder .copy:hover {
    cursor: default;
    filter: var(--reset-filter) var(--neutral-1-filter);
}
