#strength-container {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    align-items: center;
    height: 72px;
    width: auto;
    background: var(--neutral-4);
    padding: 0 24px;
}
@media screen and (max-width: 768px) {
    #strength-container {
        padding: 0 16px;
    }
}

#strength-container .title {
    text-align: start;
    color: var(--neutral-2);
}

#strength-container .message {
    text-align: end;
    padding-right: 8px;
    color: var(--neutral-3);
}

#strength-container .levels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#strength-container .level {
    display: block;
    height: 26px;
    width: 8px;
    border: solid 1px var(--neutral-3);
}

#strength-container.too_weak .level:nth-child(1) {
    background: var(--secondary);
    border-color: var(--secondary);
}

#strength-container.weak .level:nth-child(1),
#strength-container.weak .level:nth-child(2) {
    background: var(--tertiary);
    border-color: var(--tertiary);
}

#strength-container.medium .level:nth-child(1),
#strength-container.medium .level:nth-child(2),
#strength-container.medium .level:nth-child(3) {
    background: var(--quaternary);
    border-color: var(--quaternary);
}

#strength-container.strong .level:nth-child(1),
#strength-container.strong .level:nth-child(2),
#strength-container.strong .level:nth-child(3),
#strength-container.strong .level:nth-child(4) {
    background: var(--primary);
    border-color: var(--primary);
}
